.main {
  display: grid;
  height: 95%;
  width: 95%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
  "file file"
  "editor renderer"
;
}

.editor {
  grid-area: editor;
}
.renderer {
  grid-area: renderer;
}
.file {
  grid-area: file;
}
